<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <mat-card-content>
    <div class="centered-block">
      <h1 class="fancy mat-headline-2">SDK Documentation</h1>
      <p class="mat-body-1">
        After you have create a GlitchTip account, you will need to install a
        SDK in order to connect your project to GlitchTip so that your site can
        report events to us. These instructions will help you install the SDK.
      </p>
      <ul class="unstyled">
        <li *ngFor="let category of categorizedSdkDocRoutes$ | async">
          <h2>{{ category.name }}</h2>
          <ul>
            <li *ngFor="let integration of category.integrations">
              <a [routerLink]="[integration.route]">{{ integration.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
