<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <div class="centered-block markdown-container">
    <h1 class="fancy mat-headline-2">Pricing</h1>

    <app-payment [pricingPage]="true"></app-payment>
  </div>
</mat-card>
